// font-color

$bg1: #fefbf7; //メイン背景カラー
$bg2: #f3ede6; //サブ背景カラー
$beige: #f6f3ef; //スライダーのカード背景
$white: #fefdfc; //アコーディオンの背景
$brown: #b3a191; //ボタン
$beige-2: #d5c8bd; //フッターの背景
$main-color: #4a4a4a; //メインの文字のカラー
$blue: #82aed5;
$orange: #e25922;

// font-family

$font-family-ja: "Zen Kaku Gothic New", sans-serif; //日本語用のフォント
$font-family-en: "Marcellus", serif; //英語用のフォント
$font-family-mv: "Zen Maru Gothic", sans-serif; //mv用のフォント
$font-family-sec: "Raleway Dots", sans-serif; //セクションタイトル用のフォント
